<a href="https://colab.research.google.com/github/rahulmyakal/LetsUpgrade_Assignment/blob/main/Day_2_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#QUESTION 1
str1="Rahul Myakal"
str2="Hello"
print(str2)
print(str1)
print(str2+" " +str1) #concate
print(len(str1)) #length function
print(str1.upper()) #upper case function
print(str1.swapcase()) #swapcase function
print(str1.isalpha()) #isalpha function
print(str1.find('l'))

Hello
Rahul Myakal
Hello Rahul Myakal
12
RAHUL MYAKAL
rAHUL mYAKAL
False
4

In [3]:
#QUESTION 2
list1=[72,36,25,83,26]
list2=["hii","Hello","hey"]
List3=[72,36,25,83,26]
print(list1)
print(list2)
print(type(list1))
print(list1.append("you"))
print(list1)
print(max(List3),min(List3))
print(len(list1))
print(list1.index(36))
print(tuple(list1))

[72, 36, 25, 83, 26]
['hii', 'Hello', 'hey']
<class 'list'>
None
[72, 36, 25, 83, 26, 'you']
83 25
6
1
(72, 36, 25, 83, 26, 'you')

In [4]:
#QUESTION 3
self_dict={"name":"Rahul", "middle":"Chandan","last": "Myakal"}
print(self_dict)
print(self_dict.get("name"))   #get()
print(self_dict.get("middle"))
print(self_dict.get("last"))
print(self_dict.items())  #items()
self_dict.update({"age":19}) #update()
print(self_dict)
x=self_dict.values() #values()
print(x)
y=self_dict.popitem()
print(y)
print(self_dict)

{'name': 'Rahul', 'middle': 'Chandan', 'last': 'Myakal'}
Rahul
Chandan
Myakal
dict_items([('name', 'Rahul'), ('middle', 'Chandan'), ('last', 'Myakal')])
{'name': 'Rahul', 'middle': 'Chandan', 'last': 'Myakal', 'age': 19}
dict_values(['Rahul', 'Chandan', 'Myakal', 19])
('age', 19)
{'name': 'Rahul', 'middle': 'Chandan', 'last': 'Myakal'}